{{ if ne .chezmoi.os "windows" -}}
#!/bin/bash
# Bootstrap TPM (Tmux Plugin Manager) if not already installed

if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    git clone https://github.com/tmux-plugins/tpm "$HOME/.tmux/plugins/tpm"
fi
{{ end -}}
